<html>
<head>
    @*<script src="~/Scripts/App/HelloWorld.jsx" type="text/babel"></script>*@
</head>
<body>
    <div id="root"></div>
   

    <script src="~/Scripts/App/LoginForm.jsx" type="text/babel"></script>

</body>
</html>


@*https://github.com/babel/babel-standalone?tab=readme-ov-file*@